<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/overcast/jquery-ui.css" type="text/css" rel="Stylesheet" class="ui-theme" />
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript">
            $(function () {
                $(".date-edit-box").datepicker({ dateFormat: 'dd-mm-yy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'S&aacute;'],
                    firstDay: 1
                });
            });
        </script>
    </head>
    <body>
        <div id="header">
            <div class="content-wrapper">
                <div id="login">
                    @helper AccountName()
                    {
                        using (var context = new System.DirectoryServices.AccountManagement.PrincipalContext(System.DirectoryServices.AccountManagement.ContextType.Domain))
                        {
                            try
                            {
                                var principal = System.DirectoryServices.AccountManagement.UserPrincipal.FindByIdentity(context, User.Identity.Name);
                                @String.Concat(principal.GivenName, " ", principal.Surname)
                            }
                            catch { }
                        }
                    }
                    ¡Hola, @AccountName()!
                </div>
                <div class="logo">
                    <br /><br /><br /><br />
                </div>
            </div>
            <nav>
                <ul id="menuIndex">
                    <li>@Html.ActionLink("Principal", "Index", "Home")</li>
                    <li>@Html.ActionLink("Creación", "Creacion", "Home")</li>
                    <li>@Html.ActionLink("Gestión", "Gestion", "Home")</li>
                    <li class="selec">@Html.ActionLink("Cierre", "Cierre", "Home")</li>
                    <li>@Html.ActionLink("Informes", "Informes", "Home")</li>
                </ul>
            </nav>
            @RenderSection("scripts", required: false)
        </div>
        <div class="linea"> </div>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                <div class="message-success2">
                    @TempData["SuccessMessage"]
                </div>
                @RenderBody()
            </section>
            <br /><br />
        </div>
        <div class="linea"></div>
        <div id="footerIndex">
            <br />
            <br />
        </div>
    </body>
</html>
