@model Prototipos.Models.ViewModels.DesmontajeView

@{
    Layout = "~/Views/Shared/_Layout5.cshtml";
    ViewBag.Title = "Desmontaje de la puesta en marcha";
    int idProy = ViewBag.idProy;
}

<ul id="menuSubIndex">
    <li>@Html.ActionLink("Inicio gestión proyecto", "GestionProyecto", new { id = idProy })</li>
    <li>@Html.ActionLink("Puesta en marcha inicial", "MarchaInicial", new { id = idProy })</li>
    <li>@Html.ActionLink("Nuevas derivadas", "MarchaDerivadas", new { id = idProy })</li>
    <li class="selec">@Html.ActionLink("Desmontaje", "Desmontaje", new { id = idProy })</li>
</ul>
<div class="message-success3">
    @ViewBag.SuccessMessage
</div>
<div class="message-error">
    @ViewBag.ErrorMessage
</div>
<br />

<div class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message <i>@ViewBag.Message2</i></h2>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(m => m.FaseActual.IdPrototipo)
        @Html.HiddenFor(m => m.FaseActual.IdFase)
        @Html.HiddenFor(m => m.FaseActual.EsInicial)
        @Html.HiddenFor(m => m.FaseActual.FechaInsercion)
        @Html.HiddenFor(m => m.FaseActual.FechaPuestaMarcha)
        @Html.HiddenFor(m => m.FaseActual.IdUsuario)
        @Html.HiddenFor(m => m.FaseActual.ConfiguracionMontaje)
        @Html.HiddenFor(m => m.FaseActual.Observaciones)
        @Html.HiddenFor(m => m.FaseActual.Deficiencia)
        @Html.HiddenFor(m => m.FaseActual.Desmontaje)
        @Html.HiddenFor(m => m.FaseActual.IdUsuarioDesmontaje)
        @Html.HiddenFor(m => m.FaseActual.BloqueoGrua)
        @Html.HiddenFor(m => m.FaseActual.IdUsuarioBloqueoGrua)
        @Html.HiddenFor(m => m.FaseActual.SituacionBloqueoGrua)
        @Html.HiddenFor(m => m.FaseActual.FechaDesbloqueoGrua)
        @Html.HiddenFor(m => m.FaseActual.FechaRegistroDesbloqueoGrua)
        @Html.HiddenFor(m => m.FaseActual.IdUsuarioDesbloqueoGrua)
        @Html.HiddenFor(m => m.FaseActual.RazonDesbloqueoGrua)

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaPuestaMarcha)
        </div>
        <div class="editor-ali">
            @Html.DisplayFor(model => model.FechaPuestaMarcha, "ShortDateTime")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUsuario)
        </div>
        <div class="editor-ali">
            @ViewBag.usuario
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfiguracionMontaje)
        </div>
        <div class="editor-ali">
            @Model.ConfiguracionMontaje
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observaciones)
        </div>
        <div class="editor-ali">
            @Model.Observaciones
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Deficiencia)
        </div>
        <div class="editor-ali">
            @ViewBag.deficiencia
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DesmontajeFinal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DesmontajeFinal, "YesNoDropDown")
            @Html.ValidationMessageFor(model => model.DesmontajeFinal)
        </div>

        <div class="editor-label">
            @Html.Label("Tratamiento piezas que no se vuelven a montar:")
            <div><i>No añadir si es el desmontaje final</i></div>
            <a href="@Url.Action("TratamientoPieza", "Home", new {id = Model.FaseActual.IdFase })" class="button">Añadir</a>
            @{Html.RenderPartial("TablaTratamientoPiezas");}
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaDesmontaje)
        </div>
        <div class="editor-fecha">
            @Html.EditorFor(model => model.FechaDesmontaje)
            @Html.ValidationMessageFor(model => model.FechaDesmontaje)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ObservacionesDesmontaje)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ObservacionesDesmontaje)
            @Html.ValidationMessageFor(model => model.ObservacionesDesmontaje)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ObservacionesTratamiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ObservacionesTratamiento)
            @Html.ValidationMessageFor(model => model.ObservacionesTratamiento)
        </div>
        <br />
        <p>
            <input type="submit" value="Desmontaje" />
        </p>
    </fieldset>
}



<br /><br />
<h5>
    @Html.ActionLink("Ir a principal", "Index")
    <span class="float-right">
        @Html.ActionLink("Atrás a proyecto", "GestionProyecto", new { id = idProy })
    </span>
</h5>