@{
    Layout = "~/Views/Shared/_Layout5.cshtml";
    ViewBag.Title = "Eliminar archivo";
    int idProy = ViewBag.idProy;
}

<ul id="menuSubIndex">
    <li>@Html.ActionLink("Montaje", "Montaje", new { Controller = "Home", id = idProy })</li>
    <li>@Html.ActionLink("Resolución", "Resolucion", new { Controller = "Home", id = idProy })</li>
    <li class="selec">@Html.ActionLink("Gestión pruebas", "GestionPruebas", new { Controller = "Home", id = idProy })</li>
    <li>@Html.ActionLink("Situación", "Situacion", new { Controller = "Home", id = idProy })</li>
    <li>@Html.ActionLink("Tratamiento", "Tratamiento", new { Controller = "Home", id = idProy })</li>
    <li>@Html.ActionLink("Desbloqueo", "Desbloqueo", new { Controller = "Home", id = idProy })</li>
</ul>

<div class="center">
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>

    <h3>¿Está seguro de que quiere eliminarlo?</h3>
    <br /><br />
    <a href="@Url.Action("DeleteFilePrueba", "Files", new { id = ViewBag.idArchivo })" class="button5">Sí</a>
    <a href="@Url.Action("PruebaArchivos", "Files", new { id = ViewBag.idPrueba })" class="button5">No</a>
    <br />
</div>