@model Prototipos.Models.ObjectManager.ArchivosManager

@{
    Layout = "~/Views/Shared/_Layout5.cshtml";
    ViewBag.Title = "Archivos del montaje";
    int idFase = ViewBag.idFase;
    int idProy = ViewBag.idProy;
    WebGrid grid = new WebGrid(Model.archFase(idFase), selectionFieldName: "selectedRow", rowsPerPage: 5);
}

<ul id="menuSubIndex">
    <li>@Html.ActionLink("Inicio gestión proyecto", "GestionProyecto", new { Controller = "Home", id = idProy })</li>
    <li class="selec">@Html.ActionLink("Montaje", "Montaje", new { Controller = "Home", id = idProy })</li>
    <li>@Html.ActionLink("Puesta en marcha inicial", "MarchaInicial", new { Controller = "Home", id = idProy })</li>
    <li>@Html.ActionLink("Nuevas derivadas", "MarchaDerivadas", new { Controller = "Home", id = idProy })</li>
    <li>@Html.ActionLink("Desmontaje", "Desmontaje", new { Controller = "Home", id = idProy })</li>
</ul>
<div class="message-error">
    @ViewBag.ErrorMessage
</div>
<br />

<div class="center">
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="myGrid">
        @grid.GetHtml(
            fillEmptyRows: true,
            mode: WebGridPagerModes.All,
            rowStyle: "fila-normal",
            alternatingRowStyle: "fila-alternativa",
            selectedRowStyle: "fila-seleccionada",
            tableStyle: "tabla-gridUsu",
            headerStyle: "encabezado-grid",
            footerStyle: "pie-grid",
            firstText: "<< Primera",
            previousText: "< Anterior",
            nextText: "Siguiente >",
            lastText: "Última >>",
            columns: new[] {
                grid.Column("Nombre", style: "descGrande", header: "Nombre"),
                grid.Column("Descripcion", style: "descrip2", header: "Descripción"),
                grid.Column("FechaAdd", style: "fech2", header: "Fecha"),
                grid.Column("UsuarioAdd", style: "usUlt", header: "Usuario"),
                grid.Column("", style: "centerOpc", header: "Opciones", 
                                format: @<text>
                                            @Html.ActionLink("Ver", "VerArchivo", new {id = item.IdArch})
                                            | @Html.ActionLink("Eliminar", "EliminarArchivoFase", new {id = item.IdArch})
                                        </text>)
        })
    </div>
    <br />
</div>

<div class="center">
    <a href="@Url.Action("MontajeAdjuntar", "Files", new { id = ViewBag.idFase })" class="button6">Adjuntar otro archivo</a>
</div>
<h5>
     @Html.ActionLink("Atrás a elegir proyecto a gestionar", "Gestion", new { Controller = "Home" })
    <span class="float-right">
        @Html.ActionLink("Atrás a montaje", "Montaje", new {  Controller = "Home", id = idProy })
    </span>
</h5>